@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width:992px) {

    body {
        background-image: linear-gradient(to top,  #000000,  #1e1e1e, #008080);
        overflow-x: hidden;
    }
    section#login {
        width: 80vw;
        height: 390px;
    }

    section#login > div#imagem {
        float: left;
        width: 40%;
        height: 100%;
    }

    section#login > div#formulario {
        float: right;
        width: 60%;
    }

    .login-icons {
        display: block;
        display: flex;
        justify-content: center;
        gap: 10px;
        position: absolute;
        top: 313px;
        left: 130px;
        width: 100%;
    }

    .login-icons img {
        width: 30px;
    }

    .icons-button {
        width: 9.33%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 55px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        cursor: pointer;
        border: 0;
    }

    .login-icons .icons-button:nth-child(1) {
        background-color: #3b5998;
    }

    .login-icons .icons-button:nth-child(2) {
        background-color: lightgrey;
    }

    .login-icons .icons-button:nth-child(3) {
        background-color: black;
    }
}

@media screen and (min-width: 992px) {

    body {
        background-image: linear-gradient(to top,  #000000,  #1e1e1e, #008080);
    }

    section#login {
        width: 950px;
        height: 400px;
    }

    section#login > div#imagem {
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#formulario {
        float: left;
        width: 50%;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
        margin: 20px 0px;
    }

    .login-icons {
        display: block;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 330px;
        left: -240px;
        gap: 10px;
        width: 100%;
        margin-top: 20px;
    }

    .login-icons img {
        width: 20px;
    }

    .icons-button {
        width: 9.33%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        cursor: pointer;
        border: 0;
    }

    .login-icons .icons-button:nth-child(1) {
        background-color: #3b5998;
    }

    .login-icons .icons-button:nth-child(2) {
        background-color: lightgrey;
    }

    .login-icons .icons-button:nth-child(3) {
        background-color: black;
    }
}